<server description="Inventory Service">

  <featureManager>
    <platform>jakartaee-10.0</platform>
    <platform>microprofile-7.0</platform>
    <feature>restfulWS</feature>
    <feature>cdi</feature>
    <feature>jsonb</feature>
    <feature>mpHealth</feature>
    <feature>mpConfig</feature>
    <feature>messaging</feature>
    <feature>messagingClient</feature>
    <feature>messagingServer</feature>
    <feature>enterpriseBeansLite</feature>
    <feature>mdb</feature>
  </featureManager>

  <variable name="http.port" defaultValue="9081"/>
  <variable name="https.port" defaultValue="9444"/>

  <httpEndpoint id="defaultHttpEndpoint" host="*"
                httpPort="${http.port}" httpsPort="${https.port}"/>

  <!-- tag::wasJmsEndpoint[] -->
  <wasJmsEndpoint id="InboundJmsCommsEndpoint"
                  host="*"
                  wasJmsPort="7277"
                  wasJmsSSLPort="9101"/>
  <!-- end::wasJmsEndpoint[]-->

  <!-- tag::jmsQueue[] -->
  <jmsQueue id="InventoryQueue" jndiName="jms/InventoryQueue">
    <properties.wmqjmsra baseQueueName="${ibmmq-inventory-queue-name}"/>
  </jmsQueue>
  <!-- end::jmsQueue[] -->

  <!-- tag::jmsActivationSpec[] -->
  <jmsActivationSpec id="guide-jms-intro-inventory/InventoryQueueListener">
    <properties.wmqjmsra
      hostName="${ibmmq-hostname}"
      port="${ibmmq-port}"
      channel="${ibmmq-channel}"
      queueManager="${ibmmq-queue-manager}"
      userName="${ibmmq-username}"
      password="${ibmmq-password}"
      transportType="CLIENT"/>
  </jmsActivationSpec>
  <!-- end::jmsActivationSpec[] -->

  <!-- tag::resourceAdapter[] -->
  <resourceAdapter id="wmqjmsra"
    location="https://repo.maven.apache.org/maven2/com/ibm/mq/wmq.jakarta.jmsra/9.4.0.0/wmq.jakarta.jmsra-9.4.0.0.rar"/>
  <!-- end::resourceAdapter[] -->
    
  <logging consoleLogLevel="INFO"/>

  <webApplication location="guide-jms-intro-inventory.war" contextRoot="/"/>

</server>
